[Unit]
Description=As Sakina monitoring every five minutes
[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
RandomizedDelaySec=30
Unit=assakina-monitor.service
[Install]
WantedBy=timers.target
